body {
    margin: 16px;
    line-height: 1.5;
    max-width: 1440px;
    display: flex;
}
img {
    display: block;
    height: auto;
    width: 360px;
    object-fit: cover;
}
.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

